@charset "UTF-8";

* {
	padding: 0;
	margin:0;
}
a{
	text-decoration: none;
	color: #6495ED;	
}
li{
	list-style: none;
}
input,select,textarea{
   outline:none;
   border: none;
   background: none;/*for ie6*/
}
.fl{float:left;}
.fr{float: right;}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom:1;
}
a{
	color: #000000;
}

$white:#fff; //白色
$header-background:#12b7f5;
$font:Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
$sta-section-right:150px;  //静态部分区域right值
$sta-section-img-left:150px; //静态区域图片left值
$sta-section-a-color:#12b7f5;

body{
	font-family: $font;
}
#top-banner{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	z-index: 99;
}
.nav-wrapper{
	margin: 0 150px;
}
.nav-ul{
	height: 75px;

	float:left;
	li{
	float:left;
	}
	li .nav-p{
	display:inline-block;
	height:75px;
	line-height:75px;
	padding: 0 20px;
	margin: 0 5px;
	color:$white; 
	}
	.nav-logo{
		line-height: 75px;
		margin: 0 20px 0 0;
		img{
			vertical-align: middle;
		}
	}
}
.p-active{
	background-color:$header-background;
}
.nav-info{
	width: 320px;
	float: right;
	font-size: 14px;
	ul li{			//head右边
		display: inline-block;
		float: left;
		margin-top: 15px;
		a{
			margin-left: 20px;
			&:hover{
				text-decoration:underline;
			}
		} 
	}
	p{
		display: inline-block;
		margin: 4px  0 0 18px;
		&:hover{
			text-decoration:underline;
		}
	}
	.nav-btn{
		background:url(img/icons.png) no-repeat 0 -244px;
		width: 96px;
		color: white;
		padding:  39px 0 0 0 ;
		float: left;
		margin: 18px 0 0 0;
		&:hover{
		background:url(img/icons.png) no-repeat 0 -284px;
		}
	}	
}

//head img "slider"
#head{
	width: 100%;
	height: 600px;
	.head-img{
	width: 100%;
	height: 600px;
	position: absolute;
	z-index: 0;
	a{
		width: 386px;
		padding: 76px 0 0 0;
		position: absolute;
		cursor: pointer;
		background:url(img/btndown.png) no-repeat 0 0;
		&:hover{
			background:url(img/btndown.png) no-repeat 0 -76px;
		}
	  } 

	  //点击按钮
	  
	 .head-img-a{ 
	 	position: absolute;
	 	top: 500px;
	 	left: 100px;
	 }
	 .head-img-b{
	 	position: absolute;
		top: 400px;
		left: 350px;
	 }
	}
	.imga{
		background: url(img/pc.jpg) no-repeat -300px 0;
		
	}
	.imgb{
		background: url(img/mb.jpg) no-repeat 0 0;
		background-size:100% 105%;	

	}
}

.head-img-controller{
	width: 50px;
	height:30px;
	position: absolute;
	top: 520px;
	left: 48%;
	li{
		display: inline-block;
		border:8px solid white;
		border-radius: 25px;
		z-index: 10;
		&:hover{
			cursor:pointer;
		}
	}
	.li-active{
	border:8px solid gray;
}
}
//head end

//content begin
#content{
	width: 100%;

	.content-area{
	width: inherit;
	height: 600px;
	position: relative;
	}

	.common-model{
		position: absolute;
		top: 115px;
        display: inline-block;
		h2{
			float: right;
			width: 486px;
			height: 0;
			padding: 135px  0 0 0;
		}
		p{
			text-align: right;
			font-family: $font;
			width: 100%;
   			margin-bottom: 12px;
   			line-height: 25px;
   			text-align: right;
   			opacity: 0.6
		}
		a{
			font-size: 18px;
			float: right;
			color: $sta-section-a-color;
		 }
		.sta-img{
		 	position: absolute;
		 	top: 240px;
		 	left: 150px;
		 }
	} 
	.static-header{
		width: 100%;
		height: 280px;
		background: url(img/brand.png) no-repeat center;
	}	

	.dynamic-a{
		background: url(img/bg1_1600.jpg);
	}

	.static-a{
		height: 584px;
		img{
			position: absolute;
			left: $sta-section-img-left;
			bottom:0;
		}
		h2{
			background: url(img/qblog_txt.png) no-repeat 0 0;
		}
		section{
					right: $sta-section-right;
		}
	}
	.dynamic-b{
		background: url(img/avds.jpg);
	}
	.static-b{
		section{
			left: $sta-section-img-left;
			h2{
				background: url(img/goutong_txt2.png) no-repeat 0 0;
			}
			p{
				text-align: left;
			}
			a{
				font-size: 18px;
				float: none;
			}
			img{
				display: block;
				margin:30px 0 0 0; 
			}
		}
		.sta-img-right{
			position: absolute;
			right: $sta-section-right;
			top:115px;

		}
	}

	.dynamic-c{
		background: url(img/bg3_1600.jpg) no-repeat 0 0;
	}

	.static-c{
		img{
			position: absolute;
			left: $sta-section-img-left;
			bottom:0;
		}
		section{
			right: $sta-section-right;
		}
		h2{
			background: url(img/goutong_txt3.png) no-repeat 0 0;
		}
		.sta-img{
			position: absolute;
			left: 200px;
		}
	}
}
// content end

// footer begin

footer{
	width: 100%;
	height: 382px;
	background-color: #2a2a2a;
	border: 0.1px solid white;
	font-family: $font;

	.fo-wrapper{
		margin: 34px 200px 0 200px;
		height: 200px;
		border-bottom: 1px  solid #979797;
		.fo-left{
			p{
				color:#666;
				height: 50px;
			}
			a{
				width: 68px;
				height: 19px;
				color: #979797;
				padding-top:65px;
				margin-right: 35px; 
				float:left;
				font-size: 14px;
				&:hover{
					color: #12b7f5;
				}
			}
			.fo-leftBtna{
				background: url(img/plats1.png) no-repeat 0 0;
				&:hover{
					background-position:0 -95px;
				}
			}
			.fo-leftBtnb{
				background: url(img/plats1.png) no-repeat -115px 0;
				&:hover{
					background-position:-115px -95px;
				}
			}
			.fo-leftBtnc{
				background: url(img/plats1.png) no-repeat -220px 0;
				&:hover{
					background-position: -220px -95px;
				}
			}
			.fo-leftBtnd{
				background: url(img/plats1.png) no-repeat -330px 0;
				&:hover{
					background-position: -330px -95px;
				}
			}
		  }
		}
		.fo-bottom{
			margin-top: 20px;
			p{
				text-align: center;
				font-size: 14px;
				color: #979797;
			}
	}
}




